#contact {
  z-index: 0;
  position: relative;
}

#contact div.leaflet-container {
  height: 400px;
  border: 16px solid #fefae0;
}

#text {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #ed7e90;
  margin: 2rem 0 2rem 0;
}

#text h1,
#text h2,
#text b {
  font-weight: 700;
}

#text a {
  color: #a959f7;
}

#text small {
  font-size: 0.75rem;
}

#not-map {
  display: flex;
  justify-content: center;
  align-items: center;
}

#not-map img {
  height: 300px;
  margin-left: 4rem;
}
