/* style <Service/> */
#service {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#carouselExampleAutoplaying {
  width: 40vw;
  border: 1rem #fefae0 solid;
  margin-top: 4rem;
}

#carouselExampleAutoplaying img {
  aspect-ratio: 1.5/1;
}

#services {
  background-color: white;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #ed7e90;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  margin: 4rem 0 4rem 0;
  border: 0.75rem #fefae0 solid;
}

#services ol li::marker {
  font-size: 1.75rem;
  font-weight: 700;
}

#services h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 2rem 0 2rem 0;
}

#services p,
#services h1 {
  text-align: center;
}

#services p {
  margin-bottom: 3rem;
}

.combo {
  margin-bottom: 3rem;
}

.combo h2,
.combo h3 {
  font-weight: 700;
}

.combo h2 {
  font-size: 1.75rem;
}

.combo h3 {
  font-size: 1.25rem;
}

/* responsive styling */
@media (max-width: 575px) {
  #carouselExampleAutoplaying {
    width: 80vw;
    border: 0.5rem #fefae0 solid;
  }

  #services {
    width: 80vw;
  }
  #services h1 {
    font-size: 2rem;
  }

  #services ol li::marker {
    font-size: 1rem;
  }

  .combo h2 {
    font-size: 1rem;
  }

  .combo h3,
  #services p {
    font-size: 0.8rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  #carouselExampleAutoplaying {
    width: 80vw;
    border: 0.75rem #fefae0 solid;
  }

  #services {
    width: 80vw;
  }
  #services h1 {
    font-size: 2rem;
  }

  #services ol li::marker {
    font-size: 1.5rem;
  }

  .combo h2 {
    font-size: 1.5rem;
  }

  .combo h3,
  #services p {
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #carouselExampleAutoplaying {
    width: 80vw;
    border: 0.75rem #fefae0 solid;
  }

  #services {
    width: 80vw;
  }
  #services h1 {
    font-size: 2.25rem;
    font-weight: 700;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  #carouselExampleAutoplaying {
    width: 60vw;
    border: 0.75rem #fefae0 solid;
  }

  #services {
    width: 80vw;
  }
}
