body {
  margin: 0;
  background: #fefae0;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
}

/* style <Header/> */
header {
  height: 20vh;
  background: #fefae0;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

#logo {
  height: 20vh;
}

#menu-close {
  position: relative;
  transition: all 0.5s ease;
  transform: translateX(-400px);
}

#menu-close.show {
  transform: translateX(0);
}

#pages {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease;
  position: absolute;
  transform: translateX(-400px);
  top: 0;
}

#pages.show {
  background-color: #fffefa;
  transform: translateX(0);
}

#pages #menu-open {
  align-self: flex-start;
}

#pages button {
  display: flex;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#pages img {
  height: 200px;
  width: 20vw;
  transform: scale(1.75);
  margin: 4rem 0 0 0;
}
nav {
  width: 100%;
}

/* Style <Home /> */
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showcase {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin: 3rem 0 3rem 0;
  width: 55vw;
}

.showcase img {
  height: 40vh;
  object-fit: contain;
  cursor: pointer;
  border: 0.75rem #fefae0 solid;
  margin: 0 2rem 0 2rem;
  opacity: 0.2;
  transition: opacity 0.5s ease-in-out;
}

.showcase img:hover {
  transform: scale(1.1);
}

.showcase img.visible {
  opacity: 1;
}

.showcase div {
  width: 25vw;
  opacity: 0.2;
  transition: opacity 0.5s ease-in-out;
}

.showcase div.visible {
  width: 25vw;
  opacity: 1;
}

.showcase div p,
.showcase div h2 {
  color: #ed7e90;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.showcase div h2 {
  font-weight: 700;
  font-size: 2rem;
  margin: 2rem 0 0 0;
}

.showcase div p {
  margin-top: 0.5rem;
}

/* style <Footer/> */
footer {
  height: 20vh;
  background: #fefae0;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #ed7e90;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer p {
  margin: 0 0 0 1rem;
}

footer a {
  color: #ed7e90;
}
